<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML & CSS</title>
    <link rel="stylesheet" href="/styles/html.css">
</head>
<body>
    <div class="Header">
        <p>
        <a href="/index.html" class="MainTitle">HTML & CSS</a>
        </p>
    </div>
    <div class="Main">
        <p class="desc" style="text-shadow: 4px 4px 4px rgb(22, 21, 21), 0 0 1em rgb(22, 21, 21), 0 0 0.2em rgb(22, 21, 21);"> 
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="button1" onclick="window.location.href='/layouts/all.html';" style="background-image:url('/images/history2.jpg');"></button>  
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&lt HISTORY 
    </p>
    <br>
    <p class="desc1" style="text-shadow: 4px 4px 4px rgb(22, 21, 21), 0 0 1em rgb(22, 21, 21), 0 0 0.2em rgb(22, 21, 21);">LEARN >           
    <div class="CSSgal">
            <!-- Don't wrap targets in parent -->
            <s id="s1"></s> <!--MAIN-->
            <s id="s2"></s> <!--Memebers-->
            <s id="s3"></s> <!--Discography-->
            <s id="s4"></s> <!--Tours-->
            
            <div class="slider">
                <a class="Slider_Block" href="/layouts/tags.html" style="background-image:url('/images/tags.png');"></a>
    
                <a class="Slider_Block" href="/layouts/attributes.html" style="background-image:url('/images/attr2.png');"></a>
    
            </div>
            
            <div class="prevNext">
                <div><a href="#s2">&lt;</a><a href="#s2">&gt;</a></div>
                <div><a href="#s1">&lt;</a><a href="#s1">&gt;</a></div>
            </div>
            
            <div class="bullets">
                <a class="bullet" href="#s1">1</a>
                <a class="bullet" href="#s2">2</a>
            </div>
            
            </div>

    </div>
    </p>
    <div class="Floar">
            <a href="/layouts/info.html" class="SNS">INFO</a>
        </div>
</body>
</html>