<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML & CSS</title>
    <link rel="stylesheet" href="/styles/info.css">
</head>
<body>
    <div class="Header">
        <p>
        <a href="/index.html" class="MainTitle">HTML & CSS</a>
        </p>
    </div>
    <div class="Main">
        <h1 class="BIG_TITLE">SOURSES:</h1>
            <h2 class="desc">
                    To feel this website with appropriate content, information from different sources was used. 
                    <br> 
                    Here are links to all used resources, which were extremely helpful. 
            </h2>
            <br>
            <a href="https://www.w3schools.com/" class="desc">https://www.w3schools.com/</a>
            <br>
            <a href="https://www.javatpoint.com/html-tags" class="desc">https://www.javatpoint.com/html-tags</a>
            <br>
            <a href="https://www.w3schools.in/html-tutorial/tags/" class="desc">https://www.w3schools.in/html-tutorial/tags/</a>
            <br>
            <a href="https://www.w3.org/Style/CSS20/history.html" class="desc">https://www.w3.org/Style/CSS20/history.html</a>
            <br>
            <a href="https://html.com/" class="desc">https://html.com/</a>
            <br>
            <a href="http://amyhissom.com/HTML5-CSS3/history.html" class="desc">http://amyhissom.com/HTML5-CSS3/history.html</a>
            <br>
            <a href="https://www.mockplus.com/blog/post/css-framework" class="desc">https://www.mockplus.com/blog/post/css-framework</a>
            <br>
            <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/Syntax" class="desc">https://developer.mozilla.org/en-US/docs/Web/CSS/Syntax</a>
            <br>
            <a href="https://www.tutorialrepublic.com/css-reference/css3-properties.php" class="desc">https://www.tutorialrepublic.com/css-reference/css3-properties.php</a>
            <br>

            <h1 class="BIG_TITLE">AIM.</h1>
                <h2 class="desc">
                        This website was created as a project for the WEB technology course at <br>
                        <span><a href="https://apps.ucu.edu.ua/" class="desc_dark_purp">Applied Science Faculty,</a> <a href="https://ucu.edu.ua/" class="desc_dark">Ukrainian Catholic University.</a></span>
                        <br>
                        The main aim of this site is to learn site-building through practice. 
                        <br>
                        Main developer: <span><a href="https://github.com/juliapochynok" class="desc_dark_gr">Julia Pochynok </a></span>
                </h2>

    </div>
    <div class="Floar">
            <a href="/layouts/info.html" class="SNS">INFO</a>
        </div>
</body>
</html>