<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML & CSS</title>
    <link rel="stylesheet" href="/styles/layouts.css">
</head>
<body>
    <div class="Header">
        <p>
        <a href="/index.html" class="MainTitle">HTML & CSS</a>
        </p>
    </div>
    <div class="Main">
        <br><br>
        <h1 class="BIG_TITLE">WEBSITE LAYOUT.</h1>
        <h2 class="desc">
                A website is often divided into headers, menus, content and a footer.
                <br>
                There are tons of different layout designs to choose from. However, the structure we will look into is one of the most common.
                <br>
                <span class="desc_dark_purp">Header</span>: A header is usually located at the top of the website (or right below a top navigation menu). It often contains a logo or the website name.
                <br>
                <span class="desc_dark_purp">Navigation Bar</span>:A navigation bar contains a list of links to help visitors navigating through your website.
                <br>
                <span class="desc_dark_purp">Content</span>: The layout in this section, often depends on the target users. The most common layout is one (or combining them) of the following:
                <br>
                <span class="desc_dark">
                1-column (often used for mobile browsers)
                <br>
                2-column (often used for tablets and laptops)
                <br>
                3-column layout (only used for desktops)
                <br> </span>
                <span class="desc_dark_purp">Unequal Columns</span>: The main content is the biggest and the most important part of your site.
                <br>
                It is common with unequal column widths, so that most of the space is reserved for the main content. The side content (if any) is often used as an alternative navigation or to specify information relevant to the main content. Change the widths as you like, only remember that it should add up to 100% in total.
                <br>
                <span class="desc_dark_purp">Footer</span>: The footer is placed at the bottom of your page. It often contains information like copyright and contact info.
            </h2>
        
        <br><br><br>



        <h1 class="BIG_TITLE"> EXAMPLE OF LAYOUT.</h1>

    <div class="lay">

<div class="header">
        <h1>My Website</h1>
        <p>This is one nice website.</p>
      </div>
      
      <div class="topnav">
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#">Link</a>
        <a href="#" style="float:right">Link</a>
      </div>
      
      <div class="row">
        <div class="leftcolumn">
          <div class="card">
            <h2>TITLE HEADING</h2>
            <h5>Title description, Dec 7, 2017</h5>
            <div class="fakeimg" style="height:200px;">Image</div>
            <p>Some text..</p>
            <p>By using some of the CSS code above, we have created a responsive website layout, which varies between two columns and full-width columns depending on screen width.</p>
          </div>
          <div class="card">
            <h2>TITLE HEADING</h2>
            <h5>Title description, Sep 2, 2017</h5>
            <div class="fakeimg" style="height:200px;">Image</div>
            <p>Some text..</p>
            <p>By using some of the CSS code above, we have created a responsive website layout, which varies between two columns and full-width columns depending on screen width.</p>
          </div>
        </div>
        <div class="rightcolumn">
          <div class="card">
            <h2>About Me</h2>
            <div class="fakeimg" style="height:100px;">Image</div>
            <p>Some text about me.</p>
          </div>
          <div class="card">
            <h3>Popular Post</h3>
            <div class="fakeimg"><p>Image</p></div>
            <div class="fakeimg"><p>Image</p></div>
            <div class="fakeimg"><p>Image</p></div>
          </div>
          <div class="card">
            <h3>Follow Me</h3>
            <p>Some text..</p>
          </div>
        </div>
      </div>
      
      <div class="footer">
        <h2>Footer</h2>
      </div>

    </div>
      

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <a class="button" onclick="window.location.href='/layouts/properties.html';" style=" margin-left:1300px">
            <svg><g>
                <line x2="227.62" y1="31.28" y2="31.28"></line>
                <polyline points="222.62 25.78 228.12 31.28 222.62 36.78"></polyline>
                <circle cx="224.67" cy="30.94" r="30.5" transform="rotate(180 224.67 30.94) scale(1, -1) translate(0, -61)"></circle>
            </g></svg>
            <h1 style=" font-size: 30px; font-family: 'Wire One', sans-serif;">Properties</h1>
        </a>
        <br>
        <br>
    </div>
    <div class="Floar">
            <a href="/layouts/info.html" class="SNS">INFO</a>
        </div>
</body>
</html>