<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML & CSS</title>
    <link rel="stylesheet" href="/styles/tags.css">
    <link rel="stylesheet" href="/styles/red_tags.css">
    <link rel="stylesheet" href="/styles/orange_tags.css">
    <link rel="stylesheet" href="/styles/purple_tags.css">
    <link rel="stylesheet" href="/styles/yellow_tags.css">
    <link rel="stylesheet" href="/styles/green_tags.css">
    <link rel="stylesheet" href="/styles/blue_tags.css">
</head>
<body>
    <div class="Header">
        <p>
        <a href="/index.html" class="MainTitle">HTML & CSS</a>
        </p>
    </div>
    <div class="Main">
            <br><br>
        <h1 class="BIG_TITLE"> WHAT IS HTML TAG?</h1>
        <h2 class="desc">
            HTML tags are like keywords which defines that how web browser will format and display the content. With the help of tags, a web browser can distinguish between an HTML content and a simple content. HTML tags contain three main parts: opening tag, content and closing tag. But some HTML tags are unclosed tags.
            <br>
            When a web browser reads an HTML document, browser reads it from top to bottom and left to right. HTML tags are used to create HTML documents and render their properties. Each HTML tags have different properties.
            <br>
            An HTML file must have some essential tags so that web browser can differentiate between a simple text and HTML text. You can use as many tags you want as per your code requirement.
            <br>
        <p class="desc_dark">
            <br>
            - All HTML tags must enclosed within &lt; &gt; these brackets.
            <br>
            - Every tag in HTML perform different tasks.
            <br>
            - If you have used an open tag &lt; tag &gt;, then you must use a close tag &lt;/tag&gt; (except some tags)
        </p>
        </h2>
        <span class="d">
            <h1 class="desc_dark_cen" >&nbsp;SYNTAX: </h1>
            <h1 class="desc_cen" style="color:rgb(58, 12, 12);"> &nbsp;&nbsp;&lt;tag&gt; content &lt;/tag&gt;</h1>
        </span>

        <h1 class="BIG_TITLE"> HTML documents</h1>
        <h2 class="desc">
            ~ All HTML documents begin with  <span class="desc_dark_purp">&lt;! DOCTYPE html&gt; </span>.
            <br>
            ~ The HTML document begin with <span class="desc_dark_purp"></span>&lt;html&gt;</span> and ends with <span class="desc_dark_purp">&lt;/html&gt; </span>.
            <br>
            ~ The HTML code inside the <span class="desc_dark_purp">&lt;head&gt;</span> and <span class="desc_dark_purp">&lt;/head&gt;</span> tags of the HTML document is invisible. It contains other information related to the webpage.
            <br>
            ~ Only the content inside the <span class="desc_dark_purp">&lt;body&gt;</span> and <span class="desc_dark_purp">&lt;/body&gt;</span> tags are displayed in the browser.
        </h2>

        <h1 class="BIG_TITLE"> HTML Tag</h1>
        <h2 class="desc">
                HTML tag which is usually written as <span class="desc_dark_purp">&lt;html&gt;</span>…. <span class="desc_dark_purp">&lt;/html&gt;</span> or <span class="desc_dark_purp">&lt;HTML&gt;</span>…. <span class="desc_dark_purp">&lt;/HTML&gt;</span> is the only tag which is a must for writing HTML pages. 
                HTML tag has both a opening <span class="desc_dark_purp">&lt;html&gt;</span> and a closing tag <span class="desc_dark_purp">&lt;/html&gt;</span>. 
                The closing of tags is done by a forward slash (/) at the very start of the tag name. 
                These types of tags having both opening and closing tags are called <span class="desc_dark_purp">container tags</span>, and those who only have an opening tag 
                and no closing tag are called <span class="desc_dark_purp">empty tags</span>.
        </h2>
    
        <h1 class="BIG_TITLE"> HEAD Tag</h1>
        <h2 class="desc">
                The <span class="desc_dark_purp">HEAD</span> tag is another important tag used to add the header in HTML. 
                It is used to give various additional information about the page along with description and title to your page, 
                h gets displayed in the title bar or acts as an indicator of what information to use or on which page you are 
                currently in. The <span class="desc_dark_purp">TITLE</span> Tag is written within this <span class="desc_dark_purp">HEAD</span> tag.
        </h2>

        <h1 class="BIG_TITLE"> BODY Tag</h1>
        <h2 class="desc">
                This tag is used to give the body, i.e., the visible section of the HTML document. 
                All formatting and writing of content are done in this section within the opening <span class="desc_dark_purp">&lt;body&gt;</span> 
                    and the closing <span class="desc_dark_purp">&lt;/body&gt;</span> tag. If your HTML code does not have a body tag associated with it, 
                    the HTML code will still run as written in the above example (only show the title in the title bar). 
                    This tag contains the information and formatting that will be seen in the main web browser in the form of a web page.
                <br>
                It is to be noted that, together, these three necessary tags, <span class="desc_dark_purp">&lt;html&gt;</span>, <span class="desc_dark_purp">&lt;head&gt;</span>, and <span class="desc_dark_purp">&lt;body&gt;</span>, make up the skeleton
                     of an XHTML document, and these are the only foundation tags upon which all web pages are created or developed.   
        </h2>
        <br>
        <br>
        <h2 class="desc_dark" style="text-align: center;">EXAMPLE:</h2>
        <span class="e" style="width: 900px;height: 380px;margin-left:470px;margin-right:450px;margin-bottom:50px;margin-top: 5px;">
                <h1 class="desc" style="margin-left: 50px;">
                    &lt;!DOCTYPE html&gt;<br>
                    &lt;html&gt;<br>
                    &lt;head&gt;<br>
                    &nbsp; &nbsp;&nbsp;&nbsp;   &lt;title&gt;This is page title.&lt;/title&gt;<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;    &lt/head&gt;<br>
                        <br>
                    &lt;body&gt;<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;   &lt;h2&gt;This is page heading.&lt;/h2&gt;<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;   &lt;p&gt;This is my first <strong>paragraph text&lt;/strong&gt;.&lt;/p&gt;<br>
                    &lt;/body&gt;<br>
                    &lt;/html&gt;<br>
                </h1>
        </span>

        <h1 class="BIG_TITLE"> SOME OF MAIN HTML TAGS.</h1>
        <div class="LIST_div">
                <ul class="LIST_ul">
                  <li><a  class="LIST_img_red_p">  <h1 class="tag_title">&lt;p&gt;</h1> </a></li>
                  <li><a class="LIST_img_or_br"> <h1 class="tag_title">&lt;br&gt;</h1>  </a></li>
                  <li> <a class="LIST_img_pur_h">  <h1 class="tag_title">&lt;h1&gt;, &lt;h2&gt;..</h1>  </a></li>
                  <li><a class="LIST_img_yell_q" ><h1 class="tag_title">&lt;q&gt;</h1> </a></li>
                  <li><a class="LIST_img_gr_hr"><h1 class="tag_title">&lt;hr&gt;</h1>  </a></li>
                  <li><a class="LIST_img_blue_a"> <h1 class="tag_title">&lt;a&gt;</h1></a></li>

                  <li><a class="LIST_img_blue_base"> <h1 class="tag_title">&lt;base&gt;</h1></a></li>
                  <li><a class="LIST_img_gr_img"> <h1 class="tag_title">&lt;img&gt;</h1></a></li>
                  <li><a class="LIST_img_yell_area"> <h1 class="tag_title">&lt;area&gt;</h1></a></li>
                  <li><a class="LIST_img_pur_map" > <h1 class="tag_title">&lt;map&gt;</h1></a></li>
                  <li><a class="LIST_img_or_param"> <h1 class="tag_title">&lt;param&gt;</h1></a></li>
                  <li><a class="LIST_img_red_obj"> <h1 class="tag_title">&lt;object&gt;</h1></a></li>

                  <li><a class="LIST_img_red_ul"> <h1 class="tag_title">&lt;ul&gt;</h1></a></li>
                  <li><a class="LIST_img_or_li" > <h1 class="tag_title">&lt;li&gt;</h1></a></li>
                  <li><a class="LIST_img_pur_menu"> <h1 class="tag_title">&lt;menu&gt;</h1></a></li>
                  <li><a class="LIST_img_yell_table"> <h1 class="tag_title">&lt;table&gt;</h1></a></li>
                  <li><a class="LIST_img_gr_form"> <h1 class="tag_title">&lt;form&gt;</h1></a></li>
                  <li><a class="LIST_img_blue_input"> <h1 class="tag_title">&lt;input&gt;</h1></a></li>

                  <!-- <li><a href="#"><img class="LIST_img_blue" /></a></li>
                  <li><a href="#"><img class="LIST_img_gr" /></a></li>
                  <li><a href="#"><img class="LIST_img_yell" /></a></li>
                  <li><a href="#"><img class="LIST_img_pur" /></a></li>
                  <li><a href="#"><img class="LIST_img_or"/></a></li>
                  <li><a href="#"><img class="LIST_img_red" /></a></li> -->
                </ul>
              </div>
          
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <a class="button" onclick="window.location.href='/layouts/attributes.html';" style=" margin-left:1300px">
                  <svg><g>
                      <line x2="227.62" y1="31.28" y2="31.28"></line>
                      <polyline points="222.62 25.78 228.12 31.28 222.62 36.78"></polyline>
                      <circle cx="224.67" cy="30.94" r="30.5" transform="rotate(180 224.67 30.94) scale(1, -1) translate(0, -61)"></circle>
                  </g></svg>
                  <h1 style=" font-size: 30px; font-family: 'Wire One', sans-serif;">Attributes</h1>
              </a><br>
        <br>
        <br>
    </div>
    <div class="Floar">
            <a href="/layouts/info.html" class="SNS">INFO</a>
        </div>
</body>
</html>