

@import URL(https://fonts.googleapis.com/css2?family=Wire+One&display=swap);


@import url(https://fonts.googleapis.com/css2?family=Monoton&display=swap);


@import url(https://fonts.googleapis.com/css2?family=Orbitron&display=swap);


@import url(https://fonts.googleapis.com/css2?family=Gugi&display=swap);


@import url(https://fonts.googleapis.com/css2?family=Iceland&display=swap);


/* 
font-family: 'Monoton', cursive;
font-family: 'Michroma', sans-serif;
font-family: 'Iceland', cursive;
font-family: 'Orbitron', sans-serif;
font-family: 'Gugi', cursive;
font-family: 'Wire One', sans-serif; */



/* GENERAL */
html {
  width: 100%;
  height: 100vh;
}

body{
  font-family:  "title", sans-serif;
   background: linear-gradient(rgb(4, 8, 6, 0.9), rgb(4, 8, 6, 0.9)), #1A472D;
  border: 0;
  color: white;
  transition: 0.4s;
  overflow: auto;
}


/* SECTION Header */
.Header {

  text-decoration: none;
  text-align: center;
  
}

.MainTitle {
  text-align: center;
  font-weight: bolder;
  opacity: 1;
  font: oblique;
  font-family: 'Monoton', cursive;
  font-size: 170%;
  /* font-family: Georgia, serif; */
  letter-spacing: 0.2em;
  color:  rgb(54, 19, 51);
  text-shadow: 4px 4px 4px rgb(255, 255, 255), 0 0 1em rgb(223, 223, 243), 0 0 0.2em rgb(223, 223, 243);
  color:  rgb(54, 19, 51);
  text-decoration: none;
  
}



/* MAIN PART */
.Main {
  transition: 0.3s;
  position: relative; 
  -webkit-box-shadow: inset 20px 30px 70px 10px #000;    
    -moz-box-shadow: inset 20px 30px 70px 10px #000;
    box-shadow: inset 20px 30px 70px 10px #000;
    border: 2px solid rgb(0, 0, 0); 
  font-family:  "title", sans-serif;
  font-size: 100%;
  display: table;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(155, 125, 144, 0.767), rgba(0, 0, 0, 0.7)), url('/images/code11.jpg');
  background-position: center top;
  /* height: 100%; */
}


span.d {
  -webkit-box-shadow: 16px 9px 11px -4px rgb(187, 9, 143);
-moz-box-shadow: 16px 9px 11px -4px rgb(187, 9, 143);
box-shadow: 16px 9px 11px -4px rgb(187, 9, 143);
  display: inline-flex;
  width: 33%;
  height: 44%;

  margin-left:8%;
  margin-right:8%;
  margin-bottom:2.5%;
  margin-top: 2.5%;
  background: linear-gradient(rgba(0, 0, 0, 0.5),rgb(190, 90, 152));
  border: 1px solid rgb(0, 0, 0);    
  background-color: rgb(190, 90, 152); 
}

span.c {
  -webkit-box-shadow: 16px 9px 11px -4px rgba(152,245,226,1);
-moz-box-shadow: 16px 9px 11px -4px rgba(152,245,226,1);
box-shadow: 16px 9px 11px -4px rgba(152,245,226,1);
  display: inline-flex;
  width: 33%;
  height: 44%;

  margin-left:8%;
  margin-right:8%;
  margin-bottom:2.5%;
  margin-top: 2.5%;
  background: linear-gradient(rgba(0, 0, 0, 0.5),rgb(24, 133, 206));
  border: 1px solid rgb(0, 0, 0);    
  background-color: rgb(24, 133, 206); 
}

span.a {
  -webkit-box-shadow: 16px 9px 11px -4px rgba(186,112,0,1);
-moz-box-shadow: 16px 9px 11px -4px rgba(186,112,0,1);
box-shadow: 16px 9px 11px -4px rgba(186,112,0,1);
  display: inline-flex ;
  width: 33%;
  height: 24%;

  margin-left:8%;
  margin-right:8%;
  margin-bottom:2.5%;
  margin-top: 2.5%;
  background: linear-gradient(rgba(0, 0, 0, 0.5),rgb(224, 224, 28));
  border: 1px solid rgb(0, 0, 0);    
  background-color: rgb(224, 224, 28); 
}


span.b {
  -webkit-box-shadow: 16px 9px 11px -4px rgb(41, 87, 39);
-moz-box-shadow: 16px 9px 11px -4px rgb(41, 87, 39);
box-shadow: 16px 9px 11px -4px rgb(41, 87, 39);
  display: inline-flex;
  width: 33%;
  height: 24%;

  margin-left:8%;
  margin-right:8%;
  margin-bottom:2.5%;
  margin-top: 2.5%;
  background: linear-gradient(rgba(0, 0, 0, 0.5),rgb(121, 204, 73));
  border: 1px solid rgb(0, 0, 0);    
  background-color: rgb(121, 204, 73); 
}

span.e {
  -webkit-box-shadow: 16px 9px 11px -4px rgb(87, 39, 39);
-moz-box-shadow: 16px 9px 11px -4px rgb(87, 39, 39);
box-shadow: 16px 9px 11px -4px rgb(87, 39, 39);
  display: inline-flex;
  width: 33%;
  height: 24%;

  margin-left:8%;
  margin-right:8%;
  margin-bottom:2.5%;
  margin-top: 2.5%;
  background: linear-gradient(rgba(0, 0, 0, 0.5),rgb(219, 87, 87));
  border: 1px solid rgb(0, 0, 0);    
  background-color: rgb(219, 87, 87); 
}


span.f {
  -webkit-box-shadow: 16px 9px 11px -4px rgb(167, 164, 3);
-moz-box-shadow: 16px 9px 11px -4px rgb(167, 164, 3);
box-shadow: 16px 9px 11px -4px rgb(167, 164, 3);
  display: inline-flex;
  width: 33%;
  height: 2%;
  margin-left:8%;
  margin-right:8%;
  margin-bottom:2.5%;
  margin-top: 1%;
  background: linear-gradient(rgba(0, 0, 0, 0.5),rgb(236, 243, 131));
  border: 1px solid rgb(0, 0, 0);    
  background-color: rgb(236, 243, 131); 
}

.TITLE {

  color: #000;
  font-family: 'Gugi', cursive;
  text-decoration: none;
  margin-right: 1;
}

.desc {


  font-size: 170%;
  color: #000;
  font-family: 'Iceland', cursive;
  text-decoration: none;
  margin-bottom: 0;
}

.BIG_TITLE {
  text-align: center;
  font: oblique;
  font-size: 300%;
  letter-spacing: 0.2em;
  color:  rgb(248, 248, 248);
  text-shadow: 4px 4px 4px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);
  font-family: 'Gugi', cursive;
  text-decoration: none;
}




a.button {
  position: relative;
  display: inline-block;
  width: 25.6em;
  height: 6.3em;
  overflow: hidden;
  vertical-align: middle;
  text-align: left;
  text-decoration: none;
  line-height: 3em;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
a.button svg {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}
a.button svg g line,
a.button svg g polyline,
a.button svg g circle {
  fill: none;
  stroke: #fff;
}
a.button svg g line,
a.button svg g polyline {
  stroke-miterlimit: 10;
}
a.button svg g circle {
  display: block;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 0.066em;
  stroke-dasharray: 200;
  stroke-dashoffset: 0;
  -webkit-transition: stroke-dashoffset ease-out 0.5s;
  transition: stroke-dashoffset ease-out 0.5s;
}
a.button font {
  z-index: 2;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
}
a.button:hover {
  -webkit-transform: translateZ(0) translateX(0.5em);
          transform: translateZ(0) translateX(0.5em);
}
a.button:hover svg g circle {
  stroke-dashoffset: 200;
}



/* SECTION Floar */
.Floar {
  margin-top: 1%;
  text-decoration: none;
  text-align: center;
} 

.SNS {
  font-size: 180%;
  opacity: 1;
  text-align: center;
  font-weight: 900;
  font: oblique;
  font-family: 'Monoton', cursive;
  letter-spacing: 0.3em;
  text-shadow: 4px 4px 4px rgb(255, 255, 255), 0 0 1em rgb(223, 223, 243), 0 0 0.2em rgb(223, 223, 243);
  color:  rgb(54, 19, 51);
  text-decoration: none;
}


