

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

@import url(https://fonts.googleapis.com/css?family=Exo);

@import url(https://fonts.googleapis.com/css2?family=Gugi&display=swap);

@import URL(https://fonts.googleapis.com/css2?family=Wire+One&display=swap);

@import url(https://fonts.googleapis.com/css2?family=Orbitron&display=swap);

@import url(https://fonts.googleapis.com/css2?family=Monoton&display=swap);

@import url(https://fonts.googleapis.com/css2?family=Michroma&display=swap);

@import url(https://fonts.googleapis.com/css2?family=Iceland&display=swap);



/* 
font-family: 'Monoton', cursive;
font-family: 'Michroma', sans-serif;
font-family: 'Iceland', cursive;
font-family: 'Orbitron', sans-serif;
font-family: 'Gugi', cursive;
font-family: 'Wire One', sans-serif; */





.Slider_Block {
  display: block;
  text-decoration: none;
}

/* GENERAL */
html, body{
  height:97%;
  transition: 0.4s;
  
}

body{
  font-family:  "title", sans-serif;
  background: rgb(185, 111, 14);
  border: none;
  color: white;
  transition: 0.4s;
  overflow: auto;
  padding: 16px 32px;
  margin: 4px 2px;

}

.H2_link { 
  font-size: 70px;
  padding: 50px; 
  letter-spacing: 0.3rem;
  text-indent: 0.3rem;
  margin: 5rem 0 3rem 0;
  font-family: 'Wire One', sans-serif;

}


/* SECTION Header */
.Header {
  text-decoration: none;
  text-align: center;
  /* height: 5%; */
  /* background: rgba(0, 0, 0, 0.6); */
  
}

.MainTitle {
  text-align: center;
  font-weight: bolder;
  opacity: 1;
  font: oblique;
  font-family: 'Monoton', cursive;
  font-size: 170%;
  /* font-family: Georgia, serif; */
  letter-spacing: 0.2em;
  color:  rgb(54, 19, 51);
  text-shadow: 4px 4px 4px rgb(255, 255, 255), 0 0 1em rgb(223, 223, 243), 0 0 0.2em rgb(223, 223, 243);
  color:  rgb(54, 19, 51);
  text-decoration: none;
}

/* SECTION CSSgal */
.CSSgal{
   -webkit-box-shadow: 3px -1px 52px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 3px -1px 52px -4px rgba(0,0,0,0.75);
box-shadow: 3px -1px 52px -4px rgba(0,0,0,0.75);

  position: relative;
  overflow: hidden;
  height:   86%; /* Or set a fixed height */
}

/* SLIDER */
.CSSgal .slider{
  height:      100%;
  white-space: nowrap;
  font-size:   0;
  transition:  0.8s;
}

/* SLIDES */
.CSSgal .slider > *{
  font-size:       1rem;
  display:         inline-block;
  vertical-align:  top;
  height:          100%;
  width:           100%;
  background:      none 50% no-repeat;
  background-size: cover;
}

/* PREV/NEXT, CONTAINERS & ANCHORS */
.CSSgal .prevNext{
  position: absolute;
  z-index:  1;
  top:      50%;
  width:    100%;
  height:   0;
}
.CSSgal .prevNext > div+div{
  visibility: hidden; /* Hide all but first P/N container */
} 
.CSSgal .prevNext a{
  background:  rgb(3, 3, 3);
  position:    absolute;
  width:       40px;
  height:      40px;
  line-height: 40px;
  text-align:  center;
  opacity:     0.7;
  text-decoration:   none;
  -webkit-transform: translateY( -50% );
          transform: translateY( -50% );
}
.CSSgal .prevNext a:hover{
  opacity: 1;
}
.CSSgal .prevNext a+a{
  right: 0px;
}

/* NAVIGATION */
.CSSgal .bullets{
  position:   absolute;
  z-index:    2;
  bottom:     0;
  padding:    10px 0;
  width:      100%;
  text-align: center;
}
.CSSgal .bullets > a{
  display:         inline-block;
  width:           20px;
  height:          20px;
  line-height:     20px;
  text-decoration: none;
  text-align:      center;
  border-radius:   50%;
  background:      rg
  ba(255,255,255,1);
}
.CSSgal .bullets > a+a{
  background: rgba(255,255,255,0.5); /* Dim all but first */
}
.CSSgal .bullets > a:hover{
  background: rgba(0,255,255,0.9);
}

.bullet {
    font-family: "Lucida Console";
    color: #000000;
    cursor: pointer;
    text-decoration: underline;
}


/* ACTIVE NAVIGATION ANCHOR */
.CSSgal >s:target ~ .bullets >* { background: rgb(2, 5, 39); }
#s1:target ~ .bullets >*:nth-child(1){ background: rgb(87, 231, 241); }
#s2:target ~ .bullets >*:nth-child(2){ background: rgb(87, 231, 241); }
#s3:target ~ .bullets >*:nth-child(3){ background: rgb(87, 231, 241); }
#s4:target ~ .bullets >*:nth-child(4){ background:rgb(87, 231, 241); }

/* PREV/NEXT CONTAINERS VISIBILITY */
.CSSgal >s:target ~ .prevNext >* { visibility:  hidden; }
#s1:target ~ .prevNext >*:nth-child(1){ visibility: visible; }
#s2:target ~ .prevNext >*:nth-child(2){ visibility: visible; }
#s3:target ~ .prevNext >*:nth-child(3){ visibility: visible; }
#s4:target ~ .prevNext >*:nth-child(4){ visibility: visible; }

/* SLIDER ANIMATION POSITIONS */
#s1:target ~ .slider{ transform: translateX(   0%); -webkit-transform: translateX(   0%); }
#s2:target ~ .slider{ transform: translateX(-100%); -webkit-transform: translateX(-100%); }
#s3:target ~ .slider{ transform: translateX(-200%); -webkit-transform: translateX(-200%); }
#s4:target ~ .slider{ transform: translateX(-300%); -webkit-transform: translateX(-300%); }


/* SECTION Floar */
.Floar {
  margin-top: 1%;
  text-decoration: none;
  text-align: center;
} 

.SNS {
  font-size: 180%;
  opacity: 1;
  text-align: center;
  font-weight: 900;
  font: oblique;
  font-family: 'Monoton', cursive;
  letter-spacing: 0.3em;
  text-shadow: 4px 4px 4px rgb(255, 255, 255), 0 0 1em rgb(223, 223, 243), 0 0 0.2em rgb(223, 223, 243);
  color:  rgb(54, 19, 51);
  text-decoration: none;
}



/* SLIDE 1 */

.caption {
  color: rgb(253, 253, 253);
  opacity: 0.8;
  font-size: 200%;
  padding-left: 4%; 
  padding-top: 5%; 

  /* font-size: 100px;
  padding-left: 200px; 
  padding-top: 60px; */
  color: rgb(253, 253, 253);
  font-family: 'Iceland', cursive;
}

.captionBIG {
  color: rgb(222, 209, 238);
  opacity: 0.8;
  font-size: 300%;
  padding-left: 4%;
  /* font-size: 160px;
  padding-left: 400px;  */

  color: rgb(253, 253, 253);
  font-family: 'Iceland', cursive;
}


/* SLIDE 4 */
.caption2 {
  position: absolute ;
  /* font-size: 80px; */
  text-align: center; 

  font-size: 680%;
  padding-left: 20%; 
  padding-right: 20%; 
  padding-top: 6%;
  padding-bottom: 6%;

  font-family: 'Wire One', sans-serif;
  margin-left: 33%; 
  margin-right: 33%;
  margin-top: 17%;
  margin-bottom: 17%;
  text-transform: uppercase;
  background: rgb(7, 8, 37);
  display: table;
  color: white;
  border-radius: 0px;
  mix-blend-mode: multiply;
  padding: 5px 10px;
  letter-spacing: 0.2em;
}