

/* PURPLE BOX */
.LIST_img_pur {
    width: 12%;
    height: 20%; 
    float: left;
    margin: 1%;

    border: 5px solid #fff;
    background-color: rgb(159, 20, 187);
   
    -webkit-transition: box-shadow 0.5s ease;
    -moz-transition: box-shadow 0.5s ease;
    -o-transition: box-shadow 0.5s ease;
    -ms-transition: box-shadow 0.5s ease;
    transition: box-shadow 0.5s ease;
  }
   
  .LIST_img_pur:hover {
    -webkit-box-shadow: 0px 0px 15px rgba(214, 136, 230, 0.9);
    box-shadow: 0px 0px 30px rgba(214, 136, 230, 0.9);
}

.LIST_img_pur:hover:after {
    content:'NEW';
}


.LIST_img_pur_h {
    width: 12%;
    height: 20%; 
    float: left;
    margin: 1%;

    border: 5px solid #fff;
    background-color: rgb(159, 20, 187);
   
    -webkit-transition: box-shadow 0.5s ease;
    -moz-transition: box-shadow 0.5s ease;
    -o-transition: box-shadow 0.5s ease;
    -ms-transition: box-shadow 0.5s ease;
    transition: box-shadow 0.5s ease;
  }
   
  .LIST_img_pur_h:hover {
    -webkit-box-shadow: 0px 0px 15px rgba(214, 136, 230, 0.9);
    box-shadow: 0px 0px 30px rgba(214, 136, 230, 0.9);
}

.LIST_img_pur_h:hover:after {
    content:'The <h1> to <h6> tags are used to define HTML headings. <h1> defines the most important heading. <h6> defines the least important heading.';
    font-family: 'Michroma', sans-serif;
    text-align: center;
    font: oblique;
    font-size: 0.7vw;
    color:   rgb(255, 253, 254);
    text-shadow: 4px 4px 4px rgb(8, 6, 6), 0 0 1em rgb(5, 4, 4), 0 0 0.2em rgb(3, 3, 3);
}


.LIST_img_pur_map {
    width: 12%;
    height: 20%; 
    float: left;
    margin: 1%;

    border: 5px solid #fff;
    background-color: rgb(159, 20, 187);
   
    -webkit-transition: box-shadow 0.5s ease;
    -moz-transition: box-shadow 0.5s ease;
    -o-transition: box-shadow 0.5s ease;
    -ms-transition: box-shadow 0.5s ease;
    transition: box-shadow 0.5s ease;
  }
   
  .LIST_img_pur_map:hover {
    -webkit-box-shadow: 0px 0px 15px rgba(214, 136, 230, 0.9);
    box-shadow: 0px 0px 30px rgba(214, 136, 230, 0.9);
}

.LIST_img_pur_map:hover:after {
    content:'The <map> tag is used to define a client-side image-map. An image-map is an image with clickable areas. The <map> element contains a number of <area> elements, that defines the clickable areas in the image map.';
    font-family: 'Michroma', sans-serif;
    text-align: center;
    font: oblique;
    font-size: 0.7vw;
    color:   rgb(255, 253, 254);
    text-shadow: 4px 4px 4px rgb(8, 6, 6), 0 0 1em rgb(5, 4, 4), 0 0 0.2em rgb(3, 3, 3);
}


.LIST_img_pur_menu {
    width: 12%;
    height: 20%; 
    float: left;
    margin: 1%;

    border: 5px solid #fff;
    background-color: rgb(159, 20, 187);
   
    -webkit-transition: box-shadow 0.5s ease;
    -moz-transition: box-shadow 0.5s ease;
    -o-transition: box-shadow 0.5s ease;
    -ms-transition: box-shadow 0.5s ease;
    transition: box-shadow 0.5s ease;
  }
   
  .LIST_img_pur_menu:hover {
    -webkit-box-shadow: 0px 0px 15px rgba(214, 136, 230, 0.9);
    box-shadow: 0px 0px 30px rgba(214, 136, 230, 0.9);
}

.LIST_img_pur_menu:hover:after {
    content:'The <menu> tag defines a list/menu of commands. The <menu> tag is used for context menus, toolbars and for listing form controls and commands.';
    font-family: 'Michroma', sans-serif;
    text-align: center;
    font: oblique;
    font-size: 0.7vw;
    color:   rgb(255, 253, 254);
    text-shadow: 4px 4px 4px rgb(8, 6, 6), 0 0 1em rgb(5, 4, 4), 0 0 0.2em rgb(3, 3, 3);
}


.LIST_img_pur_on {
    width: 12%;
    height: 20%; 
    float: left;
    margin: 1%;

    border: 5px solid #fff;
    background-color: rgb(159, 20, 187);
   
    -webkit-transition: box-shadow 0.5s ease;
    -moz-transition: box-shadow 0.5s ease;
    -o-transition: box-shadow 0.5s ease;
    -ms-transition: box-shadow 0.5s ease;
    transition: box-shadow 0.5s ease;
  }
   
  .LIST_img_pur_on:hover {
    -webkit-box-shadow: 0px 0px 15px rgba(214, 136, 230, 0.9);
    box-shadow: 0px 0px 30px rgba(214, 136, 230, 0.9);
}

.LIST_img_pur_on:hover:after {
    content:'Script to be run when the value of the element is changed.';
    font-family: 'Michroma', sans-serif;
    text-align: center;
    font: oblique;
    font-size: 0.7vw;
    color:   rgb(255, 253, 254);
    text-shadow: 4px 4px 4px rgb(8, 6, 6), 0 0 1em rgb(5, 4, 4), 0 0 0.2em rgb(3, 3, 3);
}


.LIST_img_pur_tr {
    width: 12%;
    height: 20%; 
    float: left;
    margin: 1%;
    border: 5px solid #fff;
    background-color: rgb(159, 20, 187);
   
    -webkit-transition: box-shadow 0.5s ease;
    -moz-transition: box-shadow 0.5s ease;
    -o-transition: box-shadow 0.5s ease;
    -ms-transition: box-shadow 0.5s ease;
    transition: box-shadow 0.5s ease;
  }
   
  .LIST_img_pur_tr:hover {
    -webkit-box-shadow: 0px 0px 15px rgba(214, 136, 230, 0.9);
    box-shadow: 0px 0px 30px rgba(214, 136, 230, 0.9);
}

.LIST_img_pur_tr:hover:after {
    content:'Specifies whether the content of an element should be translated or not.';
    font-family: 'Michroma', sans-serif;
    text-align: center;
    font: oblique;
    font-size: 0.7vw;
    color:   rgb(255, 253, 254);
    text-shadow: 4px 4px 4px rgb(8, 6, 6), 0 0 1em rgb(5, 4, 4), 0 0 0.2em rgb(3, 3, 3);
}